#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid black;
}

#container div {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #eee;
}
