#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid black;
}

.btn {
  font-size: 3em;
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 12px;
}

.btn:hover {
  background-color: #b1c447e3;
  transform: translateY(-2px);
}
