body {
  background-color: #111; /* 아주 어두운 회색 혹은 검은색 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px;
  height: 100vh;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid black;
  background-color: #222;
}

.btn {
  font-size: 3em;
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
}

.btn:hover {
  background-color: #b1c447e3;
  transform: translateY(-2px);
}
